name: Test Intermittent Failures

# Repositories found here were intermittently failing
on:
  workflow_dispatch:
    inputs:
      clojureRepo:
        description: "Repository name with owner."
        required: true
        default: 'clojure/clojure'
      clojureRef:
        description: "The branch, tag or SHA to checkout"
        required: true
        default: 'master'

jobs:
  test-scicloj-metamorph-ml:
    uses: ./.github/workflows/deps-test.yml
    with:
      clojureRepo: ${{ inputs.clojureRepo }}
      clojureRef: ${{ inputs.clojureRef }}
      subjectRepo: 'scicloj/metamorph.ml'
      subjectRef: 'main'
      testDir: '.'
      testCmd: '-A:test -m kaocha.runner'
      javaVersion: '["11", "17", "21"]'
  test-clj-commons-manifold:
    uses: ./.github/workflows/lein-test.yml
    with:
      clojureRepo: ${{ inputs.clojureRepo }}
      clojureRef: ${{ inputs.clojureRef }}
      subjectRepo: 'clj-commons/manifold'
      subjectRef: 'master'
  ## Appears to be missing test path under runner allies
  test-pattern:
    uses: ./.github/workflows/deps-test.yml
    with:
      clojureRepo: ${{ inputs.clojureRepo }}
      clojureRef: ${{ inputs.clojureRef }}
      testCmd: '-M:test:runner'
      testDir: '.'
      subjectRepo: 'pangloss/pattern'
      subjectRef: 'main'
  test-alphabase:
    uses: ./.github/workflows/deps-test.yml
    with:
      clojureRepo: ${{ inputs.clojureRepo }}
      clojureRef: ${{ inputs.clojureRef }}
      testCmd: '-X:test'
      testDir: '.'
      subjectRepo: 'greglook/alphabase'
      subjectRef: 'main'
  test-dom-top:
    uses: ./.github/workflows/lein-test.yml
    with:
      clojureRepo: ${{ inputs.clojureRepo }}
      clojureRef: ${{ inputs.clojureRef }}
      subjectRepo: 'aphyr/dom-top'
      subjectRef: 'master'
      javaVersion: '["11", "17", "21"]'
  test-schema-generators:
    uses: ./.github/workflows/lein-test.yml
    with:
      clojureRepo: ${{ inputs.clojureRepo }}
      clojureRef: ${{ inputs.clojureRef }}
      subjectRepo: 'plumatic/schema-generators'
      subjectRef: 'master'
  test-blocks:
    uses: ./.github/workflows/lein-test.yml
    with:
      clojureRepo: ${{ inputs.clojureRepo }}
      clojureRef: ${{ inputs.clojureRef }}
      subjectRepo: 'greglook/blocks'
      subjectRef: 'main'
  test-nrepl:
    uses: ./.github/workflows/lein-test.yml
    with:
      clojureRepo: ${{ inputs.clojureRepo }}
      clojureRef: ${{ inputs.clojureRef }}
      subjectRepo: 'nrepl/nrepl'
      subjectRef: 'master'
  test-lacinia:
    uses: ./.github/workflows/deps-test.yml
    with:
      clojureRepo: ${{ inputs.clojureRepo }}
      clojureRef: ${{ inputs.clojureRef }}
      testCmd: '-X:dev:test'
      testDir: '.'
      subjectRepo: 'walmartlabs/lacinia'
      subjectRef: 'master'
  test-midje:
    uses: ./.github/workflows/lein-test.yml
    with:
      clojureRepo: ${{ inputs.clojureRepo }}
      clojureRef: ${{ inputs.clojureRef }}
      subjectRepo: 'marick/midje'
      subjectRef: 'master'
      javaVersion: '["11", "17", "21"]'
